/* -------------------------------------------------------------------------- */
/*               Escritorio (XL revisamos de 1366px en adelante)              */
/* -------------------------------------------------------------------------- */
*{
    font-family: 'Open Sans', sans-serif;

/* --------------------- font-family: 'Chewy', cursive; --------------------- */

}
        ul, ol{
            list-style: none;
        }
        a:visited, a:link, a:focus, a:active{
            list-style: none;
            text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header{
    background-color: rgba( 0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;    
}
.row{
    display: flex;
    align-items: center;
}

header .logotipo{
    width: 45%;
}



.redes ul li i {
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.fa-facebook-f{
    background-color:#1475e0 ;
}
.fa-instagram{
    background-color: #b18768;
}

.fa-twitter{
    background-color: #00a6ff;
}

.fa-youtube{
    background-color: #f95f62 ;
}

    .fa-snapchat-ghost{
    background-color: #ff9052 ;
}


.fa-bars{
    font-size: 35px;
    cursor: pointer;
}



/* -------------------------------------------------------------------------- */
/*                              redes movil size                              */
/* -------------------------------------------------------------------------- */

.redesMovil{
    width: 100%;
    bottom: -10px;
}

/* -------------------------------------------------------------------------- */
/*                                redes footer                                */
/* -------------------------------------------------------------------------- */
.redesFooter{
    padding: 0; 
}
.redesFooter i{
    background-color: transparent;
}

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.fade-slider{
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 40rem;
}


.bannerEstatico{
    background-color: rgba( 0, 0, 0, .2);
    height: 240px;
}

/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */

.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .8);
    overflow-x: hidden;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}


.menu, .nav-link{
    color: white;
}

.btnClose{
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  preloader                                 */
/* -------------------------------------------------------------------------- */

#preloader{
    
    display: flex;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 41, 75);
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
}

#porcentajeCargador{
    width: 100%;
    color: white;    
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#lineaCargador{
    width: 80%;
    height: 4px;
    background-color: #222;
}
#rellenoCargador{
    height: 3.5px;
    background-color: rgb(46, 108, 167);
    width: 0;
}

#estadoCargador{
    background-image: url("../img/loader3.gif");
    width: 200px;
    height: 200px;
    z-index: 9;
    margin-left: -100px;
    margin-bottom: -50px;
}

/* -------------------------------------------------------------------------- */
/*                               GRID CATEGORIAS                              */
/* -------------------------------------------------------------------------- */

.grid figure{
    border-left: 5px solid white;
    border-right: 5px solid white;
    position: relative;
    cursor: pointer;
    transition: 1s all;
}
.grid .columnaUno{
    width: 40%;
}

.grid .foto1, .grid .foto2, .grid .foto3, .grid .foto4, .grid .foto5, .grid .foto6{
    background-size: cover;
    background-position: left;
}

.grid .foto2, .grid .foto3, .grid .foto4{
    height: 300px;
}

.grid .foto1, .grid .foto5{
    height: 400px;
}

.grid .foto1{    
    background-image: url('../img/suramerica.jpg');
    
}

.grid .foto2{    
    background-image: url('../img/africa.jpg');    
}

.grid .foto3{   
    background-image: url('../img/centroamerica.jpg');    
}

.grid .foto4{    
    background-image: url('../img/europa.jpg');    
}

.grid .foto5{    
    background-image: url('../img/norteamerica.jpg');    
}

.grid .foto6{    
    background-image: url('../img/asia.jpg');    
}
            

figure p{
    background-color: rgba( 0, 0, 0, .7);
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -16px;
    left: 0;
    transition: ease-in-out 1s;
}

figure p:hover{
    background-color: rgba(255, 57, 190, .7);
    color: black;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTENIDO                                 */
/* -------------------------------------------------------------------------- */

.introArticulo{
    position: relative;
}
.fecha{
    position: absolute;
    right: 10px;
    top: -10px;
    padding: 5px 10px;
    color: #aaa;
    font-size: 14px;
    background-image: url('../img/globo.jpg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 40px;
}
hr{
    border:1px solid #79FF39;  
    margin: 10px  0;    
}

/* ------------------------------- pagination ------------------------------- */

.page-item.active .page-link{
    background-color: #FF39BE;
    color: white;
    border: 1px solid #bbb;
    transition: ease-in-out 1s;
}

.page-link:hover{
    background-color: rgba(255, 57, 189, 0.705);
    color: white;
}

.page-link{
    color: #aaa;
}

/* -------------------------------------------------------------------------- */
/*                               columna derecha                              */
/* -------------------------------------------------------------------------- */

.columnaDerecha1{
    top: -250px;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

footer{
    padding: 20px 0;
    background-color: black;   
}


.gridFooter figure{
    border: 4px solid black;    
    position: relative;
    cursor: pointer;
    transition: 1s all;
    padding: 5px !important;    
}

.gridFooter .foto2, .gridFooter .foto3, .gridFooter .foto4{
    height: 150px;
    margin: 0;
}

.gridFooter .foto1, .gridFooter .foto5{
    height: 200px;
    margin: 0;    
}

/* -------------------------------------------------------------------------- */
/*                                  SCROLLUP                                  */
/* -------------------------------------------------------------------------- */

#scrollUp{    
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url('../img/flecha.jpg');
}

/* -------------------------------------------------------------------------- */
/*                 Tablet Horizontal (LG revisamos en 1020px)                 */
/* -------------------------------------------------------------------------- */

@media (max-width: 1199px) and (min-width:992px) {

   

    header .logotipo{
        width: 60%;
    }

    .fade-slider{
        height: 150px;
    }

    .menu{
        top: 10.4%;
    }

    .columnaDerecha1{
        top: -310px;
    }

    .fecha{   
        top: 20px; 
    }

    .fade-slider{        
        height: 30rem;
    }
   
}


/* -------------------------------------------------------------------------- */
/*                   Tablet Vertical (MD revisamos en 768px)                  */
/* -------------------------------------------------------------------------- */

@media (max-width: 991px) and (min-width:768px) {

    header .logotipo{
        width: 80%;
    }

    .menu{
        top: 6.5%;
    }

    figure p{
        font-size: 16px;
    }

    .grid .foto2, .grid .foto3, .grid .foto4{
        height: 200px;
    }
    .grid .foto1, .grid .foto5{
        height: 300px;
    }

    .gridFooter .foto2, .gridFooter .foto3, .gridFooter .foto4{
        height: 100px;
    }
    .gridFooter .foto1, .gridFooter .foto5{
        height: 150px;
    }

    .fecha{   
        top: -323px; 
    }

    .fade-slider{        
        height: 22rem;
    }
    
}

/* -------------------------------------------------------------------------- */
/*                  Movil Horizontal (SM revisamos en 576px)                  */
/* -------------------------------------------------------------------------- */

@media (max-width: 767px) and (min-width:576px) {

    header .logotipo{
        width: 60%;
    }
    

    
   
    .menu{
        top: 0%;
        font-size: 20px;
    }

    .grid .columnaUno{
        width: 50%;
    }
    
    .grid .foto2, .grid .foto3, .grid .foto4{
        height: 200px;
    }
    .grid .foto1, .grid .foto5, .grid .foto6{
        height: 200px;
    }

    .gridFooter .foto2, .gridFooter .foto3, .gridFooter .foto4{
        height: 100px;
    }
    .gridFooter .foto1, .gridFooter .foto5{
        height: 150px;
    }

    .fecha{   
        top: -370px; 
    }

    .fade-slider{        
        height: 22rem;
    }
    
}


/* -------------------------------------------------------------------------- */
/*                  Movil Vertical (SM revisamos en 320px)                    */
/* -------------------------------------------------------------------------- */

@media (max-width: 575px) {

    .fa-bars{
        font-size: 25px;
    }
    
    header .logotipo{
        width: 60%;
    }

    

    .menu{
        top: 0;
        font-size: 25px;
    }

    .grid .columnaUno{
        width: 50%;
    }

    figure p{
        font-size: 12px;
    }

    .grid .foto2, .grid .foto3, .grid .foto4{
        height: 120px;
    }
    .grid .foto1, .grid .foto5, .grid .foto6{
        height: 120px;
    }

    .fecha{   
        top: -225px;
        font-size: 12px;
        height: 35px; 
    }

    .tituloContenido{
        font-size: 22px;
    }

    .fade-slider{        
        height: 20rem;
    }
    .bannerEstatico{
        height: 240px !important;
    }    
}
